<article class="s-card swiper-slide" data-scroll data-scroll-call="is-in-view">
  <div class="s-card__inner border-image border-image--small-primary-star">
    <a href="{{ product.url}}" class="s-card__link"></a>
    <div class="s-card__tags">
      <span class="tag">For the front</span>
      <span class="tag tag--off">15% off</span>
    </div>
    <div class="s-card__img">
      <img src="{{ '1.jpg' | asset_url }}" alt="">
      <img src="{{ '2.jpg' | asset_url }}" alt="">
    </div>
    <div class="s-card__title title-h4">
      <h3>{{ product.title }}</h3>
    </div>
    <div class="s-card__text">
      <p>{{ product.price | money }}</p>
    </div>
    <a href="{{ product.url}}" class="s-card__btn">
      <div class="s-arrow-link">
        <span>View Details</span>
        <div class="s-arrow-link__ico">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="14" viewBox="0 0 32 14">
            <g id="Group_11387" data-name="Group 11387" transform="translate(-177 -1807)">
              <line id="Line_17" data-name="Line 17" x2="25" transform="translate(177 1814)" fill="none" stroke="#1f454d" stroke-miterlimit="10" stroke-width="1"/>
              <path id="Path_1178" data-name="Path 1178" d="M34,0a7,7,0,0,0,7,7,7,7,0,0,0-7,7" transform="translate(168 1807)" fill="none" stroke="#1f454d" stroke-linejoin="bevel" stroke-width="1"/>
            </g>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="14" viewBox="0 0 32 14">
            <g id="Group_11387" data-name="Group 11387" transform="translate(-177 -1807)">
              <line id="Line_17" data-name="Line 17" x2="25" transform="translate(177 1814)" fill="none" stroke="#1f454d" stroke-miterlimit="10" stroke-width="1"/>
              <path id="Path_1178" data-name="Path 1178" d="M34,0a7,7,0,0,0,7,7,7,7,0,0,0-7,7" transform="translate(168 1807)" fill="none" stroke="#1f454d" stroke-linejoin="bevel" stroke-width="1"/>
            </g>
          </svg>
        </div>
      </div>
    </a>
  </div>
</article>