<section class="s-featured" data-scroll-section>
  <div class="container">
    <div class="swiper-head">
      <div class="swiper-arrows">
        <button class="swiper-arrows-prev">
          <span class="s-button s-button--round s-arrow-link">
            <span class="s-arrow-link__ico">
              <img src="{{ 'ico-swiper-arrow.svg' | asset_url }}" alt="<">
                <img src="{{ 'ico-swiper-arrow.svg' | asset_url }}" alt="" role="presentation">
            </span>
          </span>
        </button>
        <button class="swiper-arrows-next">
          <span class="s-button s-button--round s-arrow-link">
            <span class="s-arrow-link__ico">
              <img src="{{ 'ico-swiper-arrow.svg' | asset_url }}" alt=">">
              <img src="{{ 'ico-swiper-arrow.svg' | asset_url }}" alt="" role="presentation">
            </span>
          </span>
        </button>
      </div>
        <div class="swiper-head__title title-h2 title-animation" data-scroll data-scroll-call="title-visible">
          <h2>Latest products</h2>
        </div>

      <div class="swiper-head__btn">
        <a href="{{ shop.url }}" class="s-button s-button--transparent">
          <span>View all</span>
        </a>
      </div>
    </div>

    <div class="s-featured__slider swiper" data-pointer-area="DRAG">
      {% assign getlimit =  8 %}
      <div class="swiper-wrapper">

        {% for product in collections.all.products limit: getlimit %}
            {% render 'article-product',
              product: product
            %}
        {% endfor %}

      </div>
    </div>

    <div class="s-featured__btn mobile-show">
      <a href="{{ shop.url }}" class="s-button s-button--transparent">
        <span>Shop all</span>
      </a>
    </div>
  </div>
</section>