<article class="s-post-card swiper-slide">
  <a href="" class="s-post-card__img section-img" data-scroll data-scroll-call="is-in-view">
    <img src="{{ article.image.src | img_url: '1080x1080' }}" alt="">
  </a>
  <div class="s-post-card__inner">
    <div class="s-post-card__category">
      <a href="" class="tag">Category 01</a>
    </div>
    <a href="" class="s-post-card__title title-h4">
      <h3>{{ article.title | truncate: 80 | escape }}</h3>
    </a>
    <div class="s-post-card__text">
      <p>
        {%- if article.excerpt.size > 0 -%}
          {{ article.excerpt | strip_html | truncatewords: 10 }}
        {%- else -%}
          {{ article.content | strip_html | truncatewords: 10 }}
        {%- endif -%}
      </p>
    </div>
    <a href="{{ article.url }}" class="s-post-card__btn">
      <div class="s-arrow-link">
        <span>Read more</span>
        <div class="s-arrow-link__ico">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="14" viewBox="0 0 32 14">
            <g id="Group_11387" data-name="Group 11387" transform="translate(-177 -1807)">
              <line id="Line_17" data-name="Line 17" x2="25" transform="translate(177 1814)" fill="none" stroke="#1f454d" stroke-miterlimit="10" stroke-width="1"/>
              <path id="Path_1178" data-name="Path 1178" d="M34,0a7,7,0,0,0,7,7,7,7,0,0,0-7,7" transform="translate(168 1807)" fill="none" stroke="#1f454d" stroke-linejoin="bevel" stroke-width="1"/>
            </g>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="14" viewBox="0 0 32 14">
            <g id="Group_11387" data-name="Group 11387" transform="translate(-177 -1807)">
              <line id="Line_17" data-name="Line 17" x2="25" transform="translate(177 1814)" fill="none" stroke="#1f454d" stroke-miterlimit="10" stroke-width="1"/>
              <path id="Path_1178" data-name="Path 1178" d="M34,0a7,7,0,0,0,7,7,7,7,0,0,0-7,7" transform="translate(168 1807)" fill="none" stroke="#1f454d" stroke-linejoin="bevel" stroke-width="1"/>
            </g>
          </svg>
        </div>
      </div>
    </a>
  </div>
</article>