<!doctype html>
<html lang="{{ shop.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page_title }}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>

    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}"/>
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="theme-color" content="">

    <link rel="shortcut icon" type="image/png" href="">

    <link rel="icon" href="{{ 'favicon.ico' | asset_url }}" sizes="any"><!-- 32×32 -->
    <link rel="icon" href="{{ 'icon.svg' | asset_url }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ 'apple-touch-icon.png' | asset_url }}"><!-- 180×180 -->
    


    {{ content_for_header }}

    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ 'plugins.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.4.1/swiper-bundle.min.js" integrity="sha512-pY1t/ADgTwbfGbw0+mRGd33EroA5YgRUWhQNFpPIAdBzyoSb38FsFrf4wBTcS3GFPdTfgtpRrbGCkdl2C2OXYA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if template.suffix != blank %} template-suffix-{{ template.suffix }}{% endif %}{% if template contains 'customers' %} template-customer-area{% endif %}">
    <div class="viewport-height"></div>
    <div class="float-btn">
      <a href="" class="s-button s-button--big s-button--primary-light">
        <span>Shop now</span>
      </a>
    </div>
    <div class="global-wrapper" data-scroll-container>
    
        {% section 'header' %}

        <main class="main">

            {% if request.path contains '/policies' %}

              {% section 'breadcrumb' %}

              <section class="s-terms" data-scroll-section>
                {{ content_for_layout }}
              </section>

            {% else %}
              {{ content_for_layout }}
            {% endif %}

            {% section 'instagram' %}

        </main>

        {% section 'footer' %}

        <!-- Theme Script -->
        <script src="{{ 'theme.js' | asset_url }}" defer></script>
        <script src="{{ 'base.js' | asset_url }}" type="module"></script>

        {% section 'popup' %}

        <script>
          let today = new Date();
          let date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
          let time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
          let dateTime = date + ' ' + time;

          let revision = dateTime;
          let file = '{{ "sprite.svg" | asset_url }}';

          function setSymbols() {
              if (!document.createElementNS || !document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect) return true;
              var isLocalStorage = 'localStorage' in window && window['localStorage'] !== null,
                  request,
                  data,
                  insertIT = function () {
                      document.body.insertAdjacentHTML('afterbegin', data);
                  },
                  insert = function () {
                      if (document.body) insertIT();
                      else document.addEventListener('DOMContentLoaded', insertIT);
                  };
              if (isLocalStorage && localStorage.getItem('inlineSVGrev') == revision) {
                  data = localStorage.getItem('inlineSVGdata');
                  if (data) {
                      insert();
                      return true;
                  }
              }
              try {
                  request = new XMLHttpRequest();
                  request.open('GET', file, true);
                  request.onload = function () {
                      if (request.status >= 200 && request.status < 400) {
                          data = request.responseText;
                          insert();
                          if (isLocalStorage) {
                              localStorage.setItem('inlineSVGdata', data);
                              localStorage.setItem('inlineSVGrev', revision);
                          }

                      }
                  }
                  request.send();
              } catch (e) {
              }
          }

          setSymbols()

          let TEMPLATE_PATH = 'https://bloombar.blackbook.dev/'
        </script>

        <div class="pointer-cursor" id="cursor">
        <div class="pointer-cursor__label">
          Scroll
        </div>
        </div>

        


        <svg class="s-card__mask" width="0" height="0">
        <defs>
          <clipPath id="s-card-mask" clipPathUnits="objectBoundingBox" transform="scale(0.001633986928105, 0.00137741046832)">
            <path d="M306,0c169,0,306,137,306,306v420H0V306C0,137,137,0,306,0Z"/>
          </clipPath>
        </defs>
        </svg>

    </div><!-- end global-wrapper  -->

</body>
</html>
  