<section class="s-featured" data-scroll-section>
  <div class="container">
    <div class="swiper-head">
      <div class="swiper-arrows">
        <button class="swiper-arrows-prev">
          <span class="s-button s-button--round s-arrow-link">
            <span class="s-arrow-link__ico">
              <img src="{{ 'ico-swiper-arrow.svg' | asset_url }}" alt="<">
                <img src="{{ 'ico-swiper-arrow.svg' | asset_url }}" alt="" role="presentation">
            </span>
          </span>
        </button>
        <button class="swiper-arrows-next">
          <span class="s-button s-button--round s-arrow-link">
            <span class="s-arrow-link__ico">
              <img src="{{ 'ico-swiper-arrow.svg' | asset_url }}" alt=">">
              <img src="{{ 'ico-swiper-arrow.svg' | asset_url }}" alt="" role="presentation">
            </span>
          </span>
        </button>
      </div>
      {% if section.settings.heading != blank %}
        <div class="swiper-head__title title-h2 title-animation" data-scroll data-scroll-call="title-visible">
          <h2>{{ section.settings.heading }}</h2>
        </div>
      {% endif %}
      {% if section.settings.button_text != blank and section.settings.url != blank %}
      <div class="swiper-head__btn">
        <a href="{{ section.settings.url }}" class="s-button s-button--transparent">
          <span>{{ section.settings.button_text }}</span>
        </a>
      </div>
      {% endif %}
    </div>

    <div class="s-featured__slider swiper" data-pointer-area="DRAG">
      {% assign getlimit =  section.settings.columns_desktop%}
      <div class="swiper-wrapper">

        {% for product in section.settings.collection.products limit: getlimit %}
            {% render 'article-product',
              product: product
            %}
        {% endfor %}

        <article class="s-card swiper-slide" data-scroll data-scroll-call="is-in-view">
          <div class="s-card__inner border-image border-image--small-primary-star">
            <a href="" class="s-card__link"></a>
            <div class="s-card__tags">
              <span class="tag">For the front</span>
              <span class="tag tag--off">15% off</span>
            </div>
            <div class="s-card__img">
              <img src="images/products/1.jpg" alt="">
              <img src="images/products/2.jpg" alt="">
            </div>
            <div class="s-card__title title-h4">
              <h3>Fun Factory Limba Flex</h3>
            </div>
            <div class="s-card__text">
              <p>$129.99</p>
            </div>
            <a href="" class="s-card__btn">
              <div class="s-arrow-link">
                <span>View Details</span>
                <div class="s-arrow-link__ico">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="14" viewBox="0 0 32 14">
                    <g id="Group_11387" data-name="Group 11387" transform="translate(-177 -1807)">
                      <line id="Line_17" data-name="Line 17" x2="25" transform="translate(177 1814)" fill="none" stroke="#1f454d" stroke-miterlimit="10" stroke-width="1"/>
                      <path id="Path_1178" data-name="Path 1178" d="M34,0a7,7,0,0,0,7,7,7,7,0,0,0-7,7" transform="translate(168 1807)" fill="none" stroke="#1f454d" stroke-linejoin="bevel" stroke-width="1"/>
                    </g>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="14" viewBox="0 0 32 14">
                    <g id="Group_11387" data-name="Group 11387" transform="translate(-177 -1807)">
                      <line id="Line_17" data-name="Line 17" x2="25" transform="translate(177 1814)" fill="none" stroke="#1f454d" stroke-miterlimit="10" stroke-width="1"/>
                      <path id="Path_1178" data-name="Path 1178" d="M34,0a7,7,0,0,0,7,7,7,7,0,0,0-7,7" transform="translate(168 1807)" fill="none" stroke="#1f454d" stroke-linejoin="bevel" stroke-width="1"/>
                    </g>
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </article>
        <article class="s-card swiper-slide" data-scroll data-scroll-call="is-in-view">
          <div class="s-card__inner border-image border-image--small-primary-star">
            <a href="" class="s-card__link"></a>
            <div class="s-card__tags">
              <span class="tag">For the Back</span>
              <span class="tag tag--off">15% off</span>
            </div>
            <div class="s-card__img">
              <img src="images/products/2.jpg" alt="">
              <img src="images/products/1.jpg" alt="">
            </div>
            <div class="s-card__title title-h4">
              <h3>Fun Factory Limba Flex</h3>
            </div>
            <div class="s-card__text">
              <p>$129.99</p>
            </div>
            <a href="" class="s-card__btn">
              <div class="s-arrow-link">
                <span>View Details</span>
                <div class="s-arrow-link__ico">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="14" viewBox="0 0 32 14">
                    <g id="Group_11387" data-name="Group 11387" transform="translate(-177 -1807)">
                      <line id="Line_17" data-name="Line 17" x2="25" transform="translate(177 1814)" fill="none" stroke="#1f454d" stroke-miterlimit="10" stroke-width="1"/>
                      <path id="Path_1178" data-name="Path 1178" d="M34,0a7,7,0,0,0,7,7,7,7,0,0,0-7,7" transform="translate(168 1807)" fill="none" stroke="#1f454d" stroke-linejoin="bevel" stroke-width="1"/>
                    </g>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="14" viewBox="0 0 32 14">
                    <g id="Group_11387" data-name="Group 11387" transform="translate(-177 -1807)">
                      <line id="Line_17" data-name="Line 17" x2="25" transform="translate(177 1814)" fill="none" stroke="#1f454d" stroke-miterlimit="10" stroke-width="1"/>
                      <path id="Path_1178" data-name="Path 1178" d="M34,0a7,7,0,0,0,7,7,7,7,0,0,0-7,7" transform="translate(168 1807)" fill="none" stroke="#1f454d" stroke-linejoin="bevel" stroke-width="1"/>
                    </g>
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </article>
        <article class="s-card swiper-slide" data-scroll data-scroll-call="is-in-view">
          <div class="s-card__inner border-image border-image--small-primary-star">
            <a href="" class="s-card__link"></a>
            <div class="s-card__tags">
              <span class="tag">For Solo</span>
              <span class="tag">For Gifting</span>
            </div>
            <div class="s-card__img">
              <img src="images/products/3.jpg" alt="">
              <img src="images/products/2.jpg" alt="">
            </div>
            <div class="s-card__title title-h4">
              <h3>Fun Factory Limba Flex</h3>
            </div>
            <div class="s-card__text">
              <p>$129.99</p>
            </div>
            <a href="" class="s-card__btn">
              <div class="s-arrow-link">
                <span>View Details</span>
                <div class="s-arrow-link__ico">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="14" viewBox="0 0 32 14">
                    <g id="Group_11387" data-name="Group 11387" transform="translate(-177 -1807)">
                      <line id="Line_17" data-name="Line 17" x2="25" transform="translate(177 1814)" fill="none" stroke="#1f454d" stroke-miterlimit="10" stroke-width="1"/>
                      <path id="Path_1178" data-name="Path 1178" d="M34,0a7,7,0,0,0,7,7,7,7,0,0,0-7,7" transform="translate(168 1807)" fill="none" stroke="#1f454d" stroke-linejoin="bevel" stroke-width="1"/>
                    </g>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="14" viewBox="0 0 32 14">
                    <g id="Group_11387" data-name="Group 11387" transform="translate(-177 -1807)">
                      <line id="Line_17" data-name="Line 17" x2="25" transform="translate(177 1814)" fill="none" stroke="#1f454d" stroke-miterlimit="10" stroke-width="1"/>
                      <path id="Path_1178" data-name="Path 1178" d="M34,0a7,7,0,0,0,7,7,7,7,0,0,0-7,7" transform="translate(168 1807)" fill="none" stroke="#1f454d" stroke-linejoin="bevel" stroke-width="1"/>
                    </g>
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </article>
        <article class="s-card swiper-slide" data-scroll data-scroll-call="is-in-view">
          <div class="s-card__inner border-image border-image--small-primary-star">
            <a href="" class="s-card__link"></a>
            <div class="s-card__tags">
              <span class="tag">For the front</span>
              <span class="tag tag--off">15% off</span>
            </div>
            <div class="s-card__img">
              <img src="{{ "3.jpg" | asset_url }}" alt="">
              <img src="{{ "1.jpg" | asset_url }}" alt="">
            </div>
            <div class="s-card__title title-h4">
              <h3>Fun Factory Limba Flex</h3>
            </div>
            <div class="s-card__text">
              <p>$129.99</p>
            </div>
            <a href="" class="s-card__btn">
              <div class="s-arrow-link">
                <span>View Details</span>
                <div class="s-arrow-link__ico">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="14" viewBox="0 0 32 14">
                    <g id="Group_11387" data-name="Group 11387" transform="translate(-177 -1807)">
                      <line id="Line_17" data-name="Line 17" x2="25" transform="translate(177 1814)" fill="none" stroke="#1f454d" stroke-miterlimit="10" stroke-width="1"/>
                      <path id="Path_1178" data-name="Path 1178" d="M34,0a7,7,0,0,0,7,7,7,7,0,0,0-7,7" transform="translate(168 1807)" fill="none" stroke="#1f454d" stroke-linejoin="bevel" stroke-width="1"/>
                    </g>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="14" viewBox="0 0 32 14">
                    <g id="Group_11387" data-name="Group 11387" transform="translate(-177 -1807)">
                      <line id="Line_17" data-name="Line 17" x2="25" transform="translate(177 1814)" fill="none" stroke="#1f454d" stroke-miterlimit="10" stroke-width="1"/>
                      <path id="Path_1178" data-name="Path 1178" d="M34,0a7,7,0,0,0,7,7,7,7,0,0,0-7,7" transform="translate(168 1807)" fill="none" stroke="#1f454d" stroke-linejoin="bevel" stroke-width="1"/>
                    </g>
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </article>
      </div>
    </div>

    <div class="s-featured__btn mobile-show">
      <a href="" class="s-button s-button--transparent">
        <span>Shop all</span>
      </a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured Products",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Select Collection"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 3,
      "label": "Products in Carousel"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Button URL"
    }
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ]
}
{% endschema %}
