<footer class="footer" data-scroll-section>
  <div class="container container--small">
    <div class="footer__container">
      {% form 'contact', id: 'newsletter-form', class:"footer__form", action:"https://sweetcherrypie.us21.list-manage.com/subscribe/post-json?u=2309812fe370368d9e64611ba&id=48131c0f94&f_id=00fca7e1f0" %}
        {% if section.settings.footer_text != blank %}
          <div class="footer__form-title title-h2">
            <h2>{{ section.settings.footer_text }}</h2>
          </div>
        {% endif %}
        <div class="footer__form-input">
          <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Enter your email" value="{% if customer %}{{ customer.email }}{% endif %}" autocorrect="off" autocapitalize="off" required>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
				<div style="position: absolute; left: -5000px;" aria-hidden="true">
					<input type="text" name="b_2309812fe370368d9e64611ba_48131c0f94" tabindex="-1" value=""></input>
					<div class="clear">
						<input type="submit" value="Subscribe" name="subscribe"></input>
					</div>
				</div>
        <div class="footer__form-btn">
          <button class="s-button s-button--transparent s-button--big" type="submit">
            <span id="mc-embedded-subscribe">Subscribe</span>
          </button>
        </div>
        {{ form.errors | default_errors }}
      {% endform %}
       <p style="display: none;" class="footer__success">Successfully Subscribed!</p>
       <p style="display: none;" class="footer__error">There was an error. Please try again later or contact us at <a href="mailto:info@sweetcherrypie.co">info@sweetcherrypie.co</a></p>
      <div class="footer__shop">
        <a href="{{ section.settings.shop_url }}" class="footer__title mobile-hide">
          <h3>Shop</h3>
        </a>

        {% if section.settings.footer_menu_1 != blank %}
            <ul>
              {% for link in section.settings.footer_menu_1.links %}
                {% if link.links != blank %}
                <!--<li class="has-child">
                  <a href="{{ link.url }}"><span class="s-link" data-text="{{ link.title }}"><span>{{ link.title }}</span></span></a>
                  <div class="header__menu">
                    <ul class="header__menu-links">
                   {% for childlink in link.links %}
                      <li><a href="{{ childlink.url }}">{{ childlink.title }}</a></li>
                     {% endfor %}
                    </ul>
                  </div>
                </li>-->
                {% else %}
                  <li><a href="{{ link.url }}" class="s-link" data-text="{{ link.title }}"><span>{{ link.title }}</span>
                  <div class="footer__links-ico">
                    <img src="{{ "ico-link.svg" | asset_url }}" alt="" role="presentation">
                  </div></a></li>
                {% endif %}
              {% endfor %}
            </ul>
        {% endif %}

      </div>


      {% if section.settings.footer_menu_2 != blank %}
        <div class="footer__links">
            {% for link in section.settings.footer_menu_2.links %}
              {% if link.links != blank %}
              <!--<li class="has-child">
                <a href="{{ link.url }}"><span class="s-link" data-text="{{ link.title }}"><span>{{ link.title }}</span></span></a>
                <div class="header__menu">
                  <ul class="header__menu-links">
                 {% for childlink in link.links %}
                    <li><a href="{{ childlink.url }}">{{ childlink.title }}</a></li>
                   {% endfor %}
                  </ul>
                </div>
              </li>-->
              {% else %}
                <a href="{{ link.url }}" class="footer__title">
                  <span>{{ link.title }}</span>
                </a>
              {% endif %}
            {% endfor %}
        </div>
      {% endif %}

    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-text">

        {% if section.settings.footer_menu_3 != blank %}
          {% for link in section.settings.footer_menu_3.links %}
            {% if link.links != blank %}
            <!--<li class="has-child">
              <a href="{{ link.url }}"><span class="s-link" data-text="{{ link.title }}"><span>{{ link.title }}</span></span></a>
              <div class="header__menu">
                <ul class="header__menu-links">
               {% for childlink in link.links %}
                  <li><a href="{{ childlink.url }}">{{ childlink.title }}</a></li>
                 {% endfor %}
                </ul>
              </div>
            </li>-->
            {% else %}
              <a href="{{ link.url }}">{{ link.title }}</a>
            {% endif %}
          {% endfor %}
        {% endif %}

        <p>© {{ "now" | date: "%Y" }} Sweet Cherry Pie <a href="https://pinkpanda.com.au" target="_blank" class="mobile-show">Site by Pink Panda</a></p>
      </div>
      <div class="footer__socials">
        <span class="mobile-show">Contact</span>
        <ul class="s-socials">
          <li>
            <a href="{{ settings.facebook }}" class="s-button s-button--round s-arrow-link" target="_blank">
            <span class="s-arrow-link__ico">
              <svg xmlns="http://www.w3.org/2000/svg" width="6.427" height="12" viewBox="0 0 6.427 12">
                <path d="M7.615,6.75l.333-2.172H5.865V3.169A1.086,1.086,0,0,1,7.089,2h.947V.147A11.553,11.553,0,0,0,6.355,0,2.651,2.651,0,0,0,3.517,2.923V4.578H1.609V6.75H3.517V12H5.865V6.75Z" transform="translate(-1.609)" fill="#b36b77"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="6.427" height="12" viewBox="0 0 6.427 12">
                <path d="M7.615,6.75l.333-2.172H5.865V3.169A1.086,1.086,0,0,1,7.089,2h.947V.147A11.553,11.553,0,0,0,6.355,0,2.651,2.651,0,0,0,3.517,2.923V4.578H1.609V6.75H3.517V12H5.865V6.75Z" transform="translate(-1.609)" fill="#b36b77"/>
              </svg>
            </span>
            </a>
          </li>
          <li>
            <a href="{{ settings.instagram }}" class="s-button s-button--round s-arrow-link" target="_blank">
            <span class="s-arrow-link__ico">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                <path d="M8.4,0A3.6,3.6,0,0,1,12,3.6V8.4A3.6,3.6,0,0,1,8.4,12H3.6A3.6,3.6,0,0,1,0,8.4V3.6A3.6,3.6,0,0,1,3.6,0ZM6,3A3,3,0,1,0,9,6,3,3,0,0,0,6,3ZM9.6,1.8a.645.645,0,0,0-.6.6.6.6,0,0,0,1.2,0A.645.645,0,0,0,9.6,1.8ZM6,4.2A1.8,1.8,0,1,0,7.8,6,1.8,1.8,0,0,0,6,4.2Z" fill="#b36b77" fill-rule="evenodd"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                <path d="M8.4,0A3.6,3.6,0,0,1,12,3.6V8.4A3.6,3.6,0,0,1,8.4,12H3.6A3.6,3.6,0,0,1,0,8.4V3.6A3.6,3.6,0,0,1,3.6,0ZM6,3A3,3,0,1,0,9,6,3,3,0,0,0,6,3ZM9.6,1.8a.645.645,0,0,0-.6.6.6.6,0,0,0,1.2,0A.645.645,0,0,0,9.6,1.8ZM6,4.2A1.8,1.8,0,1,0,7.8,6,1.8,1.8,0,0,0,6,4.2Z" fill="#b36b77" fill-rule="evenodd"/>
              </svg>
            </span>
            </a>
          </li>
          <li>
            <a href="{{ settings.twitter }}" class="s-button s-button--round s-arrow-link" target="_blank">
            <span class="s-arrow-link__ico">
              <svg xmlns="http://www.w3.org/2000/svg" width="12.289" height="10" viewBox="0 0 12.289 10">
                <path d="M13.7,5.685a5.1,5.1,0,0,1-1.448.4,2.53,2.53,0,0,0,1.109-1.4,5.01,5.01,0,0,1-1.6.612A2.521,2.521,0,0,0,7.4,7.023a2.468,2.468,0,0,0,.065.576,7.145,7.145,0,0,1-5.2-2.638,2.526,2.526,0,0,0,.784,3.37,2.463,2.463,0,0,1-1.146-.315v.031a2.523,2.523,0,0,0,2.023,2.474,2.538,2.538,0,0,1-.664.089,2.379,2.379,0,0,1-.474-.047,2.525,2.525,0,0,0,2.357,1.753A5.055,5.055,0,0,1,2.015,13.4a5.11,5.11,0,0,1-.6-.036A7.047,7.047,0,0,0,5.273,14.5a7.131,7.131,0,0,0,7.18-7.182c0-.109,0-.219-.008-.326A5.132,5.132,0,0,0,13.7,5.685Z" transform="translate(-1.413 -4.5)" fill="#b36b77"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="12.289" height="10" viewBox="0 0 12.289 10">
                <path d="M13.7,5.685a5.1,5.1,0,0,1-1.448.4,2.53,2.53,0,0,0,1.109-1.4,5.01,5.01,0,0,1-1.6.612A2.521,2.521,0,0,0,7.4,7.023a2.468,2.468,0,0,0,.065.576,7.145,7.145,0,0,1-5.2-2.638,2.526,2.526,0,0,0,.784,3.37,2.463,2.463,0,0,1-1.146-.315v.031a2.523,2.523,0,0,0,2.023,2.474,2.538,2.538,0,0,1-.664.089,2.379,2.379,0,0,1-.474-.047,2.525,2.525,0,0,0,2.357,1.753A5.055,5.055,0,0,1,2.015,13.4a5.11,5.11,0,0,1-.6-.036A7.047,7.047,0,0,0,5.273,14.5a7.131,7.131,0,0,0,7.18-7.182c0-.109,0-.219-.008-.326A5.132,5.132,0,0,0,13.7,5.685Z" transform="translate(-1.413 -4.5)" fill="#b36b77"/>
              </svg>
            </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__bottom-text mobile-hide">
        <a href="https://pinkpanda.com.au" target="_blank">Site by Pink Panda</a>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "url",
      "id": "shop_url",
      "label": "Shop URL"
    },
    {
      "type": "link_list",
      "id": "footer_menu_1",
      "label": "Footer Menu 1"
    },
    {
      "type": "link_list",
      "id": "footer_menu_2",
      "label": "Footer Menu 2"
    },
    {
      "type": "link_list",
      "id": "footer_menu_3",
      "label": "Footer Menu 3"
    },
    {
      "type": "textarea",
      "id": "footer_text",
      "label": "Footer CTA"
    }
  ]
}
{% endschema %}