<header class="header" data-scroll-section>
  {% if section.settings.enable_announcement and section.settings.announcement_text != blank%}
    <div class="message-marquee">
      <div class="marquee">
        <div class="marquee_offset">
          <div class="marquee_content">
            <div class="marquee_unit">
              <p>{{ section.settings.announcement_text }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="container">
    <div class="header__container">
      <div class="header__block">

        {% if section.settings.menu != blank %}
          <nav class="header__nav mobile-hide">
            <ul>
              {% for link in section.settings.menu.links %}
                {% if link.links != blank %}
                <!--<li class="has-child">
                  <a href="{{ link.url }}"><span class="s-link" data-text="{{ link.title }}"><span>{{ link.title }}</span></span></a>
                  <div class="header__menu">
                    <ul class="header__menu-links">
                   {% for childlink in link.links %}
                      <li><a href="{{ childlink.url }}">{{ childlink.title }}</a></li>
                     {% endfor %}
                    </ul>
                  </div>
                </li>-->
                {% else %}
                  <li><a href="{{ link.url }}"><span class="s-link" data-text="{{ link.title }}"><span>{{ link.title }}</span></span></a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
        {% endif %}

        <div class="header__burger">
          <img src="{{ 'ico-burger-open.svg' | asset_url }}" class="header__burger-open" alt="menu">
          <img src="{{ 'ico-burger-close.svg' | asset_url }}" class="header__burger-close" alt="close">
        </div>
      </div>
      <a href="{{ shop.url }}" class="header__logo">
        <img src="{{ 'logo.svg' | asset_url }}" alt="Sweet Cherry Pie Logo">
      </a>
      <div class="header__block">
        <div class="header__btns">
          <div class="header__search">
            <form class="header__search-inner" action="{{ routes.search_url }}">
              <input type="hidden" name="type" value="product">
              <input type="text" placeholder="Search for toys.."  name="q" value="{{ search.terms | escape }}" required>
              <button type="submit" class="s-button s-button--round s-button--black s-arrow-link">
                <span class="s-arrow-link__ico">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14.854" height="14.854" viewBox="0 0 14.854 14.854">
                    <g id="Icon_feather-search" data-name="Icon feather-search" transform="translate(-4 -4)">
                      <path id="Path_1097" data-name="Path 1097" d="M16.944,10.722A6.222,6.222,0,1,1,10.722,4.5a6.222,6.222,0,0,1,6.222,6.222Z" fill="none" stroke="#1f454d" stroke-width="1"/>
                      <path id="Path_1098" data-name="Path 1098" d="M28.358,28.358l-3.383-3.383" transform="translate(-9.858 -9.858)" fill="none" stroke="#1f454d" stroke-linejoin="round" stroke-width="1"/>
                    </g>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="14.854" height="14.854" viewBox="0 0 14.854 14.854">
                    <g id="Icon_feather-search" data-name="Icon feather-search" transform="translate(-4 -4)">
                      <path id="Path_1097" data-name="Path 1097" d="M16.944,10.722A6.222,6.222,0,1,1,10.722,4.5a6.222,6.222,0,0,1,6.222,6.222Z" fill="none" stroke="#1f454d" stroke-width="1"/>
                      <path id="Path_1098" data-name="Path 1098" d="M28.358,28.358l-3.383-3.383" transform="translate(-9.858 -9.858)" fill="none" stroke="#1f454d" stroke-linejoin="round" stroke-width="1"/>
                    </g>
                  </svg>
                </span>
              </button>
            </form>
            <div class="header__search-btn">
              <button type="button" class="s-button s-button--round s-arrow-link">
                <span class="header__search-btn__close">
                  <svg xmlns="http://www.w3.org/2000/svg" width="13.061" height="13.061" viewBox="0 0 13.061 13.061">
                    <g id="Group_12618" data-name="Group 12618" transform="translate(-329.812 -77.813)">
                      <line id="Line_1486" data-name="Line 1486" x2="16.97" transform="translate(330.343 78.344) rotate(45)" fill="none" stroke="#1f454d" stroke-width="1.5"/>
                      <line id="Line_1505" data-name="Line 1505" x2="16.97" transform="translate(342.343 78.343) rotate(135)" fill="none" stroke="#1f454d" stroke-width="1.5"/>
                    </g>
                  </svg>
                </span>
                <span class="header__search-btn__open s-arrow-link__ico">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14.854" height="14.854" viewBox="0 0 14.854 14.854">
                    <g id="Icon_feather-search" data-name="Icon feather-search" transform="translate(-4 -4)">
                      <path id="Path_1097" data-name="Path 1097" d="M16.944,10.722A6.222,6.222,0,1,1,10.722,4.5a6.222,6.222,0,0,1,6.222,6.222Z" fill="none" stroke="#1f454d" stroke-width="1"/>
                      <path id="Path_1098" data-name="Path 1098" d="M28.358,28.358l-3.383-3.383" transform="translate(-9.858 -9.858)" fill="none" stroke="#1f454d" stroke-linejoin="round" stroke-width="1"/>
                    </g>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="14.854" height="14.854" viewBox="0 0 14.854 14.854">
                    <g id="Icon_feather-search" data-name="Icon feather-search" transform="translate(-4 -4)">
                      <path id="Path_1097" data-name="Path 1097" d="M16.944,10.722A6.222,6.222,0,1,1,10.722,4.5a6.222,6.222,0,0,1,6.222,6.222Z" fill="none" stroke="#1f454d" stroke-width="1"/>
                      <path id="Path_1098" data-name="Path 1098" d="M28.358,28.358l-3.383-3.383" transform="translate(-9.858 -9.858)" fill="none" stroke="#1f454d" stroke-linejoin="round" stroke-width="1"/>
                    </g>
                  </svg>
                </span>
              </button>
            </div>
          </div>

          <div class="header__btns-cart">
            <a href="mini-cart" class="s-button s-button--round s-arrow-link">
              <span class="s-arrow-link__ico">
                <svg xmlns="http://www.w3.org/2000/svg" width="13.25" height="15" viewBox="0 0 13.25 15">
                <g id="bag" transform="translate(-4.5 -2.5)">
                  <rect id="Rectangle_283" data-name="Rectangle 283" width="12.25" height="10.5" transform="translate(5 6.5)" fill="none" stroke="#1f454d" stroke-linecap="square" stroke-width="1"/>
                  <path id="Path_994" data-name="Path 994" d="M8,6.5a3.5,3.5,0,0,1,7,0" transform="translate(-0.375)" fill="none" stroke="#1f454d" stroke-linecap="square" stroke-width="1"/>
                </g>
              </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="13.25" height="15" viewBox="0 0 13.25 15">
                <g id="bag" transform="translate(-4.5 -2.5)">
                  <rect id="Rectangle_283" data-name="Rectangle 283" width="12.25" height="10.5" transform="translate(5 6.5)" fill="none" stroke="#1f454d" stroke-linecap="square" stroke-width="1"/>
                  <path id="Path_994" data-name="Path 994" d="M8,6.5a3.5,3.5,0,0,1,7,0" transform="translate(-0.375)" fill="none" stroke="#1f454d" stroke-linecap="square" stroke-width="1"/>
                </g>
              </svg>
              </span>
            </a>
            <span id="cart-total">
              {% render 'cart-total' %}
            </span>
          </div>
          
          
          <a href="{{ collections.all.url }}" class="s-button s-button--transparent mobile-hide">
            <span>Shop Now</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="header__mob-menu header-menu">
    <div class="header-menu__bg">
      <img src="{{ 's-header_menu-bg.svg' | asset_url }}" alt="" role="presentation">
    </div>
    <div class="header__mob-menu__inner">
      <div class="header__mob-menu__nav">
        <ul>

          {% assign my_menu = linklists.mobile-menu %}
          {% for link in my_menu.links %}
             <li class="is-big"><a href="{{ link.url }}"><span class="s-link" data-text="{{ link.title }}"><span>{{ link.title }}</span></span></a></li>
          {% endfor %}

          {% assign my_menu_small = linklists.mobile-small %}
          {% for link in my_menu_small.links %}
             <li><a href="{{ link.url }}"><span class="s-link" data-text="{{ link.title }}"><span>{{ link.title }}</span></span></a></li>
          {% endfor %}

        </ul>
      </div>

      <div class="header__mob-menu__bottom">
        <a href="{{ collections.all.url }}" class="s-button s-button--big s-button--primary-light">
          <span>Shop Now</span>
        </a>
      </div>
    </div>
  </div>
  <div class="header__mob-menu header-search">
    <div class="header__mob-menu__inner">
      <form class="header__mob-menu__search" action="{{ routes.search_url }}">
        <input type="hidden" name="type" value="product">
        <input type="text" id="menu-search-input" placeholder="Search for toys.." name="q" value="{{ search.terms | escape }}" required>
        <div class="header__mob-menu__bottom">
          <button type="submit" class="s-button s-button--big s-button--primary-light">
            <span>Search</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</header>


{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Select Menu"
    },
    {
      "type": "link_list",
      "id": "mobmenu",
      "label": "Select Mobile Single Menu"
    },
    {
      "type": "header",
      "content": "Announcement Bar"
    },
    {
      "type": "checkbox",
      "id": "enable_announcement",
      "label": "Enable Announcement"
    },
    {
      "type": "text",
      "id": "announcement_text",
      "default": "Welcome to our store",
      "label": "Announcement Text"
    }
  ]
}
{% endschema %}