{% if section.settings.layout == 'image_left' %}

  <section class="s-text-img" data-scroll-section>
    <div class="s-text-img__container">
      <div class="s-text-img__img s-text-img__img--small">
        <div class="s-text-img__img-bg">
          <img src="{{ 's-text-img_bg.svg' | asset_url }}" alt="" role="presentation">
        </div>
        <div class="s-text-img__img-inner section-img" data-scroll data-scroll-call="is-in-view">
          <img src="{{ section.settings.image | img_url: '' }}" alt="" data-scroll-zoom="0.06">
        </div>
      </div>
      <div class="s-text-img__content">
        <div class="title-h2 title-animation" data-scroll data-scroll-call="title-visible">

          {% if section.settings.heading != blank %}
            <h2>{{ section.settings.heading }}</h2>
          {% endif %}

        </div>

        <div class="section-text">

          {% if section.settings.body != blank %}
            {{ section.settings.body }}
          {% endif %}

        </div>
      </div>
    </div>
  </section>


{% else %}
  
  <section class="s-text-img" data-scroll-section>
    <div class="s-text-img__container">
      <div class="s-text-img__content">
        <div class="title-h2 title-animation" data-scroll data-scroll-call="title-visible">
          {% if section.settings.heading != blank %}
            <h2>{{ section.settings.heading }}</h2>
          {% endif %}
        </div>
        <div class="section-text">

          {% if section.settings.body != blank %}
            {{ section.settings.body }}
          {% endif %}

        </div>
      </div>
      <div class="s-text-img__img">
        <div class="s-text-img__img-inner section-img" data-scroll data-scroll-call="is-in-view">
          <img src="{{ section.settings.image | img_url: '' }}" alt="" data-scroll-zoom="0.07">
        </div>
      </div>
    </div>
  </section>

{% endif %}


{% schema %}
{
  "name": "Image with Text",
  "tag": "div",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "image_left",
          "label": "Image Left"
        },
        {
          "value": "image_right",
          "label": "Image Right"
        }
      ],
      "default": "image_left"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "Body"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Image with Text"
    }
  ]
}
{% endschema %}


