{% if section.settings.layout == 'default' %}

<section class="s-promo" data-scroll-section>
  <div class="container">
    <div class="s-promo__container">
      <div class="s-promo__content">
        <div class="s-breadcrumbs">
          <ul>
            <li><a href="{{ shop.url }}">Home</a></li>
            <li>{{ page_title }}</li>
          </ul>
        </div>
        <div class="title-epic title-animation" data-scroll data-scroll-call="title-visible">

          {% if section.settings.title_override != blank %}
            <h1>{{ section.settings.title_override }}</h1>
          {% else %}
            <h1>{{ page_title }}</h1>
          {% endif %}
        </div>

        {% if section.settings.body != blank %}
          <div class="s-promo__text section-text text-animation" data-scroll data-scroll-call="text-visible">
            {{ section.settings.body }}
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</section>

{% else %}
  
  <section class="s-promo s-promo--big" data-scroll-section>
    <div class="container">
      <div class="s-promo__container">
        <div class="s-promo__content">
          <div class="s-breadcrumbs">
            <ul>
              <li><a href="{{ shop.url }}">Home</a></li>
              <li>{{ page_title }}</li>
            </ul>
          </div>
          <div class="title-epic title-animation" data-scroll data-scroll-call="title-visible">
            {% if section.settings.title_override != blank %}
              <h1>{{ section.settings.title_override }}</h1>
            {% else %}
              <h1>{{ page_title }}</h1>
            {% endif %}
          </div>

          {% if section.settings.body != blank %}
            <div class="s-promo__text section-text text-animation" data-scroll data-scroll-call="text-visible">
              {{ section.settings.body }}
            </div>
          {% endif %}

        </div>
        <div class="s-promo__img section-img" data-scroll data-scroll-call="is-in-view">
          <img src="{{ section.settings.image | img_url: '' }}" alt="For the front" data-scroll-zoom="0.07">
        </div>
      </div>
    </div>

  </section>

{% endif %}


{% schema %}
{
  "name": "Breadcrumb",
  "tag": "div",
  "settings": [
    {
      "type": "textarea",
      "id": "title_override",
      "label": "Page title (override)"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "image_right",
          "label": "Image Right"
        }
      ],
      "default": "default"
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "Body"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Breadcrumb"
    }
  ]
}
{% endschema %}


