<section class="s-cart" data-scroll-section>
  <div class="container">
    <div class="s-cart__container" id="cart-items">
      <ul class="s-cart__list cart-list">
        {% for item in cart.items %}
          <li>
            <div class="s-cart__block">
              <div class="s-cart__block-item">
                <div class="s-cart__item">
                  <div class="s-cart__item-img">
                    <a href="{{ item.url }}">
                      <img src="{{ item.image | img_url:'' }}" alt="{{ item.image.alt | escape }}">
                    </a>
                  </div>
                  <div class="s-cart__item-title title-h3 title-animation" data-scroll data-scroll-call="title-visible">
                    <h3>{{ item.product.title }}</h3>
                    {% if item.variant != blank and item.variant.title != 'Default Title' %}<div class="variant">{{ item.variant.title }}</div>{% endif %}
                  </div>
                </div>
              </div>
              <div class="s-cart__block-item">
                <div class="s-cart__row">
                  <div class="s-cart__row-label">
                    <span>Total:</span>
                  </div>
                  <div class="s-price s-price--small">
                    <div class="s-price__new">
                      <span>{{ item.original_line_price | money }}</span>
                    </div>
                  </div>
                </div>
                <div class="s-cart__row">
                  <div class="s-cart__row-label">
                    <span>Quantity:</span>
                  </div>
                  <div class="s-quantitycart">
                    <button type="button" class="s-quantitycart__btn btn-minus s-button s-button--round s-button--transparent s-arrow-link">
                      <span class="s-arrow-link__ico">
                        <img src="{{ 'ico-minus.svg' | asset_url }}" alt="-">
                        <img
                          src="{{ 'ico-minus.svg' | asset_url }}"
                          alt=""
                          role="presentation">
                      </span>
                    </button>
                    <input
                      type="number"
                      name="quantity"
                      value="{{ item.quantity }}"
                      step="1"
                      data-index="{{ item.index | plus: 1 }}"
                      min="0"
                      maxlength="3"
                      readonly="">
                    <button type="button" class="s-quantitycart__btn btn-plus s-button s-button--round s-button--transparent s-arrow-link">
                      <span class="s-arrow-link__ico">
                        <img src="{{ 'ico-plus.svg' | asset_url }}" alt="+">
                        <img
                          src="{{ 'ico-plus.svg' | asset_url }}"
                          alt=""
                          role="presentation">
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>

      <div class="s-cart__block">
        {% comment %} <div class="s-cart__block-item">
          <div class="s-coupon">
            <div class="s-coupon__title">
              <h3>Discount code</h3>
            </div>
            <form id="discount-form" class="s-coupon__row">
              <div class="s-coupon__input">
                <input type="text" id="discount-code" name="discount_code" placeholder="XXXX-XXXX">
              </div>
              <div class="s-coupon__btn">
                <button type="submit" class="s-button s-button--transparent">
                  <span>Apply</span>
                </button>
              </div>
            </form>
          </div>
        </div> {% endcomment %}
        <div class="s-cart__block-item">
          <div class="s-cart__row">
            <div class="s-cart__row-label">
              <h2>SubTotal:</h2>
            </div>
            <div class="s-price s-price--big">
              <div class="s-price__new">
                <span>{{ cart.total_price | money }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="s-cart__submit">
        <a href="{{ checkout_url }}" class="s-button s-button--black s-button--big">
          <span>Checkout</span>
        </a>
      </div>
    </div>
  </div>
</section>

<script>
 function emptyCart() {
  fetch('/cart/clear.js', {
    method: 'POST',
    credentials: 'same-origin',
    headers: {
      'Content-Type': 'application/json',
      'X-Requested-With': 'XMLHttpRequest'
    }
  })
  .then(response => {
    const cartItems = document.querySelectorAll('.s-cart__list li');
    cartItems.forEach(item => item.remove());

    const subtotal = document.querySelector('.s-cart__block-item .s-price__new span');
    subtotal.innerText = '$0.00';

    console.log('Cart emptied successfully');
  })
  .catch(error => {
    console.error('Error while emptying cart:', error);
  });
 }
  

</script>

{% schema %}
  {
    "name": "main-cart",
    "tag": "div",
    "settings": [
      {
        "type": "textarea",
        "id": "card_message",
        "label": "Card Text"
      }
    ]
  }
{% endschema %}