<section class="s-results" data-scroll-section>
  <div class="s-results__category">
    <div class="container">
      <div class="s-results__category-container">
        <div class="title-h3 title-animation" data-scroll data-scroll-call="title-visible">
          <h2>Explore by category</h2>
        </div>
        <ul>
          {% for category in blog.all_tags %}
            <li><a href="{{ blog.url }}/tagged/{{ category | handleize }}" class="s-button s-button--transparent">{{ category }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  {% paginate blog.articles by section.settings.columns_desktop %}

  <div class="s-results__container">

    {%- for article in blog.articles -%}
      {% render 'article-blog', article: article %}
    {% endfor %}

  </div>

  <div class="s-shop-category__pagination">
    <ul class="outline-buttons">
      <li class="prev not-active">
        <a href="" class="s-button s-button--white s-button--round s-arrow-link">
            <span class="s-arrow-link__ico">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
                <defs>
                  <clipPath id="clip-path">
                    <rect id="Rectangle_2140" data-name="Rectangle 2140" width="16" height="16" transform="translate(57.934 1235)" fill="#fff" stroke="#707070" stroke-width="1"/>
                  </clipPath>
                </defs>
                <g id="Mask_Group_80" data-name="Mask Group 80" transform="translate(-57.934 -1235)" clip-path="url(#clip-path)">
                  <path id="Path_1477" data-name="Path 1477" d="M6.5,0a6,6,0,0,1-6,6,6,6,0,0,1,6,6" transform="translate(61.5 1237)" fill="none" stroke="#b36b77" stroke-linejoin="bevel" stroke-width="1.5"/>
                </g>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
                <defs>
                  <clipPath id="clip-path">
                    <rect id="Rectangle_2140" data-name="Rectangle 2140" width="16" height="16" transform="translate(57.934 1235)" fill="#fff" stroke="#707070" stroke-width="1"/>
                  </clipPath>
                </defs>
                <g id="Mask_Group_80" data-name="Mask Group 80" transform="translate(-57.934 -1235)" clip-path="url(#clip-path)">
                  <path id="Path_1477" data-name="Path 1477" d="M6.5,0a6,6,0,0,1-6,6,6,6,0,0,1,6,6" transform="translate(61.5 1237)" fill="none" stroke="#b36b77" stroke-linejoin="bevel" stroke-width="1.5"/>
                </g>
              </svg>
            </span>
        </a>
      </li>
      <li class="is-active">
        <a href="" class="s-button s-button--white s-button--round s-arrow-link">
            <span class="s-arrow-link__ico">
              <span>1</span>
              <span>1</span>
            </span>
        </a>
      </li>
      <li>
        <a href="" class="s-button s-button--white s-button--round s-arrow-link">
            <span class="s-arrow-link__ico">
              <span>2</span>
              <span>2</span>
            </span>
        </a>
      </li>
      <li>
        <a href="" class="s-button s-button--white s-button--round s-arrow-link">
            <span class="s-arrow-link__ico">
              <span>3</span>
              <span>3</span>
            </span>
        </a>
      </li>
      <li class="next">
        <a href="" class="s-button s-button--white s-button--round s-arrow-link">
            <span class="s-arrow-link__ico">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
                <defs>
                  <clipPath id="clip-path">
                    <rect id="Rectangle_2140" data-name="Rectangle 2140" width="16" height="16" transform="translate(57.934 1235)" fill="#fff" stroke="#707070" stroke-width="1"/>
                  </clipPath>
                </defs>
                <g id="Mask_Group_80" data-name="Mask Group 80" transform="translate(-57.934 -1235)" clip-path="url(#clip-path)">
                  <path id="Path_1477" data-name="Path 1477" d="M6.5,0a6,6,0,0,1-6,6,6,6,0,0,1,6,6" transform="translate(61.5 1237)" fill="none" stroke="#b36b77" stroke-linejoin="bevel" stroke-width="1.5"/>
                </g>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
                <defs>
                  <clipPath id="clip-path">
                    <rect id="Rectangle_2140" data-name="Rectangle 2140" width="16" height="16" transform="translate(57.934 1235)" fill="#fff" stroke="#707070" stroke-width="1"/>
                  </clipPath>
                </defs>
                <g id="Mask_Group_80" data-name="Mask Group 80" transform="translate(-57.934 -1235)" clip-path="url(#clip-path)">
                  <path id="Path_1477" data-name="Path 1477" d="M6.5,0a6,6,0,0,1-6,6,6,6,0,0,1,6,6" transform="translate(61.5 1237)" fill="none" stroke="#b36b77" stroke-linejoin="bevel" stroke-width="1.5"/>
                </g>
              </svg>
            </span>
        </a>
      </li>
    </ul>
  </div>

  {% endpaginate %}

</section>



{% paginate blog.articles by section.settings.columns_desktop %}
<div class="s-blogs" data-scroll-section style="border-bottom: 1px solid;">
  {%- for article in blog.articles -%}
    {% render 'article-cards', article: article %}
  {% endfor %}

  <div class="s-shop-category__pagination">
      {% if paginate.pages > 1 %}
      {% if paginate.parts.size > 0 %}
      <ul>
        <li class="prev {% if paginate.previous %}{% else %}not-active{% endif %}">
          {% if paginate.previous %}
          <a href="{{ paginate.previous.url }}">prev</a>
          {% endif %}
        </li>
        {% for part in paginate.parts %}
        <li>{%- if part.is_link -%}<a href="{{ part.url }}">{{ part.title }}</a>{% else %}{{ part.title }}{% endif %}</li>
        {% endfor %}
        {% if paginate.next %}
        <li class="next"><a href="{{ paginate.next.url }}">next</a></li>
        {% endif %}
      </ul>
        {% endif %}
    {% endif %}
    </div>
    
    {% endpaginate %}
</div>

{% schema %}
{
  "name": "Main Blog",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 9,
      "max": 27,
      "step": 3,
      "default": 9,
      "label": "Articles per Page"
    }
  ]
}
{% endschema %}