{% comment %} {% include 'dump' with product %} {% endcomment %}

<section class="s-product" data-scroll-section>
  <div class="container">
    <div class="s-product__container">
      <div class="s-product__left">
        <div class="s-product__gallery">
          <div class="s-product__gallery-next">
            <div class="swiper">
              <div class="swiper-wrapper">
              	{% for image in product.images %}
	                <div class="swiper-slide s-product__gallery-next__item">
	                  <img src="{{ image.src | img_url: '300x300' }}" alt="{{ image.src.alt | escape }}">
	                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="s-product__gallery-main">
          	{% if product.compare_at_price > product.price %}
            <div class="s-product__tags">
              <span class="tag tag--off">{% if product.compare_at_price_max > product.price %}{{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}% off{% endif %}</span>
            </div>
            {% endif %}
            <div class="swiper">
              <div class="swiper-wrapper">
              	{% for image in product.images %}
	                <div class="swiper-slide s-product__gallery-main__item">
	                  <img src="{{ image.src | img_url: '1080x1080' }}" alt="{{ image.src.alt | escape }}">
	                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <div class="s-product__wrapper">

          <ul class="s-product__info">

          	{% for feature in product.metafields.custom.product_features.value %}
          		<li>
						    <div class="s-product__info-ico">
	                <img src="{{ feature.image | img_url: '' }}" alt="" width="32" height="32">
	              </div>
	              <span>{{ feature.title }}</span>
            	</li>
					  {% endfor %}

          </ul>

          {% if product.metafields.custom.mantra_text %}
	          <div class="s-product__banner">

		          <div class="s-product__banner-bg">
		          	{% if product.metafields.custom.mantra_image %}
			            <img src="{{ product.metafields.custom.mantra_image | img_url: '' }}" alt="" width="778" height="340">
		            {% else %}
			            <img src="{{ 's-banner.jpg' | asset_url }}" alt="" width="778" height="340">
			          {% endif %}
		          </div>

		          <div class="s-product__banner-inner">
		            <div class="s-product__banner-title title-h2 title-animation" data-scroll data-scroll-call="title-visible">
		              <h2>{{ product.metafields.custom.mantra_text }}</h2>
		            </div>
		            <div class="s-product__banner-text section-text text-animation" data-scroll data-scroll-call="text-visible">
		              <p>Need to lift your sexual vibration? Maintain or boost your own powerful and confident sexual energy by repeating this mantra daily</p>
		            </div>
		          </div>
		        </div>
	        {% endif %}


          <div class="s-accordion-list">

          	{% if product.metafields.custom.product_description.value %}
            <div class="s-accordion">
              <div class="s-accordion__head">
                <h3>Product Description</h3>
                <div class="s-accordion__ico">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                    <g transform="translate(-1569 -769)">
                      <line x2="10" transform="translate(1569 774)" fill="none" stroke="#1f454d" stroke-width="1"/>
                      <line class="ico-plus" x2="10" transform="translate(1574 769) rotate(90)" fill="none" stroke="#1f454d" stroke-width="1"/>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="s-accordion__body">
                <div class="s-accordion__inner section-text">

                	{{ product.metafields.custom.product_description | metafield_tag }}

                  <!--<p>If nurturing your sexual wellness is top of your priority list (and it totally should be!) treat yourself to the gift of blended orgasms with the help of Chinchilla!</p>
                  <p>Watch your stress float away, as Chinchilla takes you on a journey of body-shuddering, ecstasy-riding, waves of bliss and self-discovery. Seriously, we got you!</p>
                  <p>Equipped with both a smooth, ergonomically designed vibrating shaft, and perfect, vibrating bunny shaped ears for clitoral stimulation, Chinchilla has the power to deliver blended orgasms over and over again!</p>
                  <p>If nurturing your sexual wellness is top of your priority list (and it totally should be!) treat yourself to the gift of blended orgasms with the help of Chinchilla!</p>
                  <p>Self-care never felt so good!</p>-->
                </div>
              </div>
            </div>
            {% endif %}

            {% if product.metafields.custom.product_specifications.value %}
            <div class="s-accordion">
              <div class="s-accordion__head">
                <h3>Product Specifications</h3>
                <div class="s-accordion__ico">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                    <g transform="translate(-1569 -769)">
                      <line x2="10" transform="translate(1569 774)" fill="none" stroke="#1f454d" stroke-width="1"/>
                      <line class="ico-plus" x2="10" transform="translate(1574 769) rotate(90)" fill="none" stroke="#1f454d" stroke-width="1"/>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="s-accordion__body">
                <div class="s-accordion__inner section-text">
                  {{ product.metafields.custom.product_specifications | metafield_tag }}
                </div>
              </div>
            </div>
						{% endif %}

						{% if product.metafields.custom.how_to_use_this_product.value %}
            <div class="s-accordion">
              <div class="s-accordion__head">
                <h3>How to use this product</h3>
                <div class="s-accordion__ico">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                    <g transform="translate(-1569 -769)">
                      <line x2="10" transform="translate(1569 774)" fill="none" stroke="#1f454d" stroke-width="1"/>
                      <line class="ico-plus" x2="10" transform="translate(1574 769) rotate(90)" fill="none" stroke="#1f454d" stroke-width="1"/>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="s-accordion__body">
                <div class="s-accordion__inner section-text">
                  {{ product.metafields.custom.how_to_use_this_product | metafield_tag }}
                </div>
              </div>
            </div>
            {% endif %}


            {% if product.metafields.custom.shipping_and_delivery.value %}
            <div class="s-accordion">
              <div class="s-accordion__head">
                <h3>Shipping and delivery</h3>
                <div class="s-accordion__ico">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                    <g transform="translate(-1569 -769)">
                      <line x2="10" transform="translate(1569 774)" fill="none" stroke="#1f454d" stroke-width="1"/>
                      <line class="ico-plus" x2="10" transform="translate(1574 769) rotate(90)" fill="none" stroke="#1f454d" stroke-width="1"/>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="s-accordion__body">
                <div class="s-accordion__inner section-text">
                  {{ product.metafields.custom.shipping_and_delivery | metafield_tag }}
                </div>
              </div>
            </div>
            {% endif %}

          </div>
        </div>
      </div>
      <div class="s-product__right" id="product-sticky">
        <form class="s-product__content" data-scroll-sticky-bottom="10" data-scroll-sticky-parent="#product-sticky">

          <div class="s-product__content-category">
          	{% if product.metafields.custom.tagline %}
	            <span class="tag tag--best">{{ product.metafields.custom.tagline }}</span>
	            {% assign first_collection = product.collections.last %}
							{% if first_collection %}
							  <span>for <a href="{{ first_collection.url }}">{{ first_collection.title }}</a></span>
							{% endif %}
            {% endif %}
          </div>

          <div class="s-product__content-title title-h1">
          	{% assign get_first = product.title | split:" " | last %}
						<h1>{{ product.title | remove: get_first}} <i>{{get_first}}</i></h1>
          </div>

          {% if product.type != blank %}
	          <div class="s-product__content-subtitle">
	            <span>{{ product.type }}</span>
	          </div>
          {% endif %}

          <div class="s-product__content-price">
            <div class="s-price">

            	<span class="s-price__new">{{ product.price | money }}</span>
            	{% if product.compare_at_price > product.price %}
							<span class="s-price__old">{{ product.compare_at_price | money }}</span>
							{% endif %}
							
            </div>
            <div class="s-product__content-price__text">
            	
            	{% if settings.show_zip_payment %}
              	<p>or 4 interest-free payments of {{ product.price | divided_by: 4 | money }} with <img src="{{ 's-product_payment.svg' | asset_url }}" alt="zip" width="38" height="14"></p>
              {% endif %}

              {% if product.metafields.custom.reviews %}
              {% assign reviews = product.metafields.custom.reviews | times: 100 %}
              <div class="s-product__content-review">
                <!--<span>{{ reviews  | money_without_currency | replace: '.00', '' }} Reviews</span>-->

                {% if product.metafields.custom.star_rating %}
                	{% assign star_rating = product.metafields.custom.star_rating %}
                {% else %}
                	{% assign star_rating = '4.5' %}
                {% endif %}

                <div class="s-stars stars-{{ star_rating | replace: '.', '-' | replace: '-0', '' }}">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="18" viewBox="0 0 18 18">
                    <defs>
                      <clipPath id="clip-path">
                        <path d="M0,9.02A8.98,8.98,0,0,1,8.98,18H9.02A8.98,8.98,0,0,1,18,9.02V8.98A8.98,8.98,0,0,1,9.02,0H8.98A8.98,8.98,0,0,1,0,8.98Z" transform="translate(-4976.934 -2468)" fill="none" stroke="#b36b77" stroke-width="1"/>
                      </clipPath>
                    </defs>
                    <g transform="translate(4976.934 2468)">
                      <g clip-path="url(#clip-path)" >
                        <rect class="ico-star-half" width="9.05" height="18" transform="translate(-4977 -2468)" fill="none"/>
                      </g>
                      <g transform="translate(-4976.934 -2468)" fill="none">
                        <path class="ico-star" d="M0,9.02A8.98,8.98,0,0,1,8.98,18H9.02A8.98,8.98,0,0,1,18,9.02V8.98A8.98,8.98,0,0,1,9.02,0H8.98A8.98,8.98,0,0,1,0,8.98Z" stroke="none"/>
                        <path d="M 9 13.68809127807617 C 9.983484268188477 11.64361190795898 11.64361190795898 9.983484268188477 13.68809127807617 9 C 11.64361190795898 8.016515731811523 9.983484268188477 6.356388092041016 9 4.311909198760986 C 8.016515731811523 6.356388092041016 6.356388092041016 8.016515731811523 4.311909198760986 9 C 6.356388092041016 9.983484268188477 8.016515731811523 11.64361190795898 9 13.68809127807617 M 9.019689559936523 18 L 8.980310440063477 18 C 8.980310440063477 13.04030990600586 4.959690093994141 9.019689559936523 0 9.019689559936523 L 0 8.980310440063477 C 4.959690093994141 8.980310440063477 8.980310440063477 4.959690093994141 8.980310440063477 0 L 9.019689559936523 0 C 9.019689559936523 4.959690093994141 13.04030990600586 8.980310440063477 18 8.980310440063477 L 18 9.019689559936523 C 13.04030990600586 9.019689559936523 9.019689559936523 13.04030990600586 9.019689559936523 18 Z" stroke="none" fill="#b36b77"/>
                      </g>
                    </g>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="18" viewBox="0 0 18 18">
                    <defs>
                      <clipPath id="clip-path">
                        <path d="M0,9.02A8.98,8.98,0,0,1,8.98,18H9.02A8.98,8.98,0,0,1,18,9.02V8.98A8.98,8.98,0,0,1,9.02,0H8.98A8.98,8.98,0,0,1,0,8.98Z" transform="translate(-4976.934 -2468)" fill="none" stroke="#b36b77" stroke-width="1"/>
                      </clipPath>
                    </defs>
                    <g transform="translate(4976.934 2468)">
                      <g clip-path="url(#clip-path)" >
                        <rect class="ico-star-half" width="9.05" height="18" transform="translate(-4977 -2468)" fill="none"/>
                      </g>
                      <g transform="translate(-4976.934 -2468)" fill="none">
                        <path class="ico-star" d="M0,9.02A8.98,8.98,0,0,1,8.98,18H9.02A8.98,8.98,0,0,1,18,9.02V8.98A8.98,8.98,0,0,1,9.02,0H8.98A8.98,8.98,0,0,1,0,8.98Z" stroke="none"/>
                        <path d="M 9 13.68809127807617 C 9.983484268188477 11.64361190795898 11.64361190795898 9.983484268188477 13.68809127807617 9 C 11.64361190795898 8.016515731811523 9.983484268188477 6.356388092041016 9 4.311909198760986 C 8.016515731811523 6.356388092041016 6.356388092041016 8.016515731811523 4.311909198760986 9 C 6.356388092041016 9.983484268188477 8.016515731811523 11.64361190795898 9 13.68809127807617 M 9.019689559936523 18 L 8.980310440063477 18 C 8.980310440063477 13.04030990600586 4.959690093994141 9.019689559936523 0 9.019689559936523 L 0 8.980310440063477 C 4.959690093994141 8.980310440063477 8.980310440063477 4.959690093994141 8.980310440063477 0 L 9.019689559936523 0 C 9.019689559936523 4.959690093994141 13.04030990600586 8.980310440063477 18 8.980310440063477 L 18 9.019689559936523 C 13.04030990600586 9.019689559936523 9.019689559936523 13.04030990600586 9.019689559936523 18 Z" stroke="none" fill="#b36b77"/>
                      </g>
                    </g>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="18" viewBox="0 0 18 18">
                    <defs>
                      <clipPath id="clip-path">
                        <path d="M0,9.02A8.98,8.98,0,0,1,8.98,18H9.02A8.98,8.98,0,0,1,18,9.02V8.98A8.98,8.98,0,0,1,9.02,0H8.98A8.98,8.98,0,0,1,0,8.98Z" transform="translate(-4976.934 -2468)" fill="none" stroke="#b36b77" stroke-width="1"/>
                      </clipPath>
                    </defs>
                    <g transform="translate(4976.934 2468)">
                      <g clip-path="url(#clip-path)" >
                        <rect class="ico-star-half" width="9.05" height="18" transform="translate(-4977 -2468)" fill="none"/>
                      </g>
                      <g transform="translate(-4976.934 -2468)" fill="none">
                        <path class="ico-star" d="M0,9.02A8.98,8.98,0,0,1,8.98,18H9.02A8.98,8.98,0,0,1,18,9.02V8.98A8.98,8.98,0,0,1,9.02,0H8.98A8.98,8.98,0,0,1,0,8.98Z" stroke="none"/>
                        <path d="M 9 13.68809127807617 C 9.983484268188477 11.64361190795898 11.64361190795898 9.983484268188477 13.68809127807617 9 C 11.64361190795898 8.016515731811523 9.983484268188477 6.356388092041016 9 4.311909198760986 C 8.016515731811523 6.356388092041016 6.356388092041016 8.016515731811523 4.311909198760986 9 C 6.356388092041016 9.983484268188477 8.016515731811523 11.64361190795898 9 13.68809127807617 M 9.019689559936523 18 L 8.980310440063477 18 C 8.980310440063477 13.04030990600586 4.959690093994141 9.019689559936523 0 9.019689559936523 L 0 8.980310440063477 C 4.959690093994141 8.980310440063477 8.980310440063477 4.959690093994141 8.980310440063477 0 L 9.019689559936523 0 C 9.019689559936523 4.959690093994141 13.04030990600586 8.980310440063477 18 8.980310440063477 L 18 9.019689559936523 C 13.04030990600586 9.019689559936523 9.019689559936523 13.04030990600586 9.019689559936523 18 Z" stroke="none" fill="#b36b77"/>
                      </g>
                    </g>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="18" viewBox="0 0 18 18">
                    <defs>
                      <clipPath id="clip-path">
                        <path d="M0,9.02A8.98,8.98,0,0,1,8.98,18H9.02A8.98,8.98,0,0,1,18,9.02V8.98A8.98,8.98,0,0,1,9.02,0H8.98A8.98,8.98,0,0,1,0,8.98Z" transform="translate(-4976.934 -2468)" fill="none" stroke="#b36b77" stroke-width="1"/>
                      </clipPath>
                    </defs>
                    <g transform="translate(4976.934 2468)">
                      <g clip-path="url(#clip-path)" >
                        <rect class="ico-star-half" width="9.05" height="18" transform="translate(-4977 -2468)" fill="none"/>
                      </g>
                      <g transform="translate(-4976.934 -2468)" fill="none">
                        <path class="ico-star" d="M0,9.02A8.98,8.98,0,0,1,8.98,18H9.02A8.98,8.98,0,0,1,18,9.02V8.98A8.98,8.98,0,0,1,9.02,0H8.98A8.98,8.98,0,0,1,0,8.98Z" stroke="none"/>
                        <path d="M 9 13.68809127807617 C 9.983484268188477 11.64361190795898 11.64361190795898 9.983484268188477 13.68809127807617 9 C 11.64361190795898 8.016515731811523 9.983484268188477 6.356388092041016 9 4.311909198760986 C 8.016515731811523 6.356388092041016 6.356388092041016 8.016515731811523 4.311909198760986 9 C 6.356388092041016 9.983484268188477 8.016515731811523 11.64361190795898 9 13.68809127807617 M 9.019689559936523 18 L 8.980310440063477 18 C 8.980310440063477 13.04030990600586 4.959690093994141 9.019689559936523 0 9.019689559936523 L 0 8.980310440063477 C 4.959690093994141 8.980310440063477 8.980310440063477 4.959690093994141 8.980310440063477 0 L 9.019689559936523 0 C 9.019689559936523 4.959690093994141 13.04030990600586 8.980310440063477 18 8.980310440063477 L 18 9.019689559936523 C 13.04030990600586 9.019689559936523 9.019689559936523 13.04030990600586 9.019689559936523 18 Z" stroke="none" fill="#b36b77"/>
                      </g>
                    </g>
                  </svg>
                  
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="18" viewBox="0 0 18 18">
                    <defs>
                      <clipPath id="clip-path">
                        <path d="M0,9.02A8.98,8.98,0,0,1,8.98,18H9.02A8.98,8.98,0,0,1,18,9.02V8.98A8.98,8.98,0,0,1,9.02,0H8.98A8.98,8.98,0,0,1,0,8.98Z" transform="translate(-4976.934 -2468)" fill="none" stroke="#b36b77" stroke-width="1"/>
                      </clipPath>
                    </defs>
                    <g transform="translate(4976.934 2468)">
                      <g clip-path="url(#clip-path)" >
                        <rect class="ico-star-half" width="9.05" height="18" transform="translate(-4977 -2468)" fill="none"/>
                      </g>
                      <g transform="translate(-4976.934 -2468)" fill="none">
                        <path class="ico-star" d="M0,9.02A8.98,8.98,0,0,1,8.98,18H9.02A8.98,8.98,0,0,1,18,9.02V8.98A8.98,8.98,0,0,1,9.02,0H8.98A8.98,8.98,0,0,1,0,8.98Z" stroke="none"/>
                        <path d="M 9 13.68809127807617 C 9.983484268188477 11.64361190795898 11.64361190795898 9.983484268188477 13.68809127807617 9 C 11.64361190795898 8.016515731811523 9.983484268188477 6.356388092041016 9 4.311909198760986 C 8.016515731811523 6.356388092041016 6.356388092041016 8.016515731811523 4.311909198760986 9 C 6.356388092041016 9.983484268188477 8.016515731811523 11.64361190795898 9 13.68809127807617 M 9.019689559936523 18 L 8.980310440063477 18 C 8.980310440063477 13.04030990600586 4.959690093994141 9.019689559936523 0 9.019689559936523 L 0 8.980310440063477 C 4.959690093994141 8.980310440063477 8.980310440063477 4.959690093994141 8.980310440063477 0 L 9.019689559936523 0 C 9.019689559936523 4.959690093994141 13.04030990600586 8.980310440063477 18 8.980310440063477 L 18 9.019689559936523 C 13.04030990600586 9.019689559936523 9.019689559936523 13.04030990600586 9.019689559936523 18 Z" stroke="none" fill="#b36b77"/>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
              {% endif %}

            </div>
          </div>
          <div class="s-product__content-text">
            <p>{{ product.description }}</p>
          </div>
          <ul class="s-product__variations">
            <li class="is-big">
              <div class="s-product__variations-row">

                <label class="s-radio s-radio--ico">
                  <input type="radio" name="use[]" value="solo" {% if product.metafields.custom.solo %} {{ 'checked' }} {% endif %}>
                  <span class="s-radio__btn">Solo</span>
                </label>
                <label class="s-radio s-radio--ico">
                  <input type="radio" name="use2[]" value="partner" {% if product.metafields.custom.partner %} {{ 'checked' }} {% endif %}>
                  <span class="s-radio__btn">Partner</span>
                </label>

              </div>
            </li>

            <input name="id[]" value="{{ product.selected_or_first_available_variant.id }}" type="hidden">
            
            {% unless product.has_only_default_variant %}
              {% assign product_options = product.options_with_values %}
              {% if product_options.size > 0 %}
                {% for option in product_options %}
                  <li>
                    <span>{{ option.name }}</span>
                    <div class="s-shop-category__sort-dropdown">
                      <span>
                        <span class="output_text">{{ option.values.first }}</span>
                        <span class="s-shop-category__sort-ico">
                          <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                            <g id="Group_11613" data-name="Group 11613" transform="translate(-1569 -769)">
                              <line x2="10" transform="translate(1569 774)" fill="none" stroke="#1f454d" stroke-width="1"/>
                              <line x2="10" transform="translate(1574 769) rotate(90)" class="ico-plus" fill="none" stroke="#1f454d" stroke-width="1"/>
                            </g>
                          </svg>
                        </span>
                      </span>

                      {% for value in option.values %}
                        <input type="hidden" class="selected-var" value="{{ value | escape }}">
                        <span>{{ value | escape }}</span>
                        {% break %}
                      {% endfor %}
                      <ul class="s-product__variations-row variants-primary">
                        {% for value in option.values %}
                          <li data-value="{{ value | escape }}">
                            <label class="s-radio">
                              <input type="radio" name="{{ option.name | handleize }}[]" value="{{value | escape}}" {% if forloop.first %} checked {% endif %}>
                              <span class="s-radio__btn">{{ value }}</span>
                            </label>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </li>
                {% endfor %}
              {% endif %}
              <select style="display:none;" id="custom_select_id">
                {% for variant in product.variants %}
                  <option {% if variant==current_variant %}selected="selected" {% endif %} {% unless variant.available %}
                    disabled="disabled" {% endunless %} value="{{ variant.id }}" price="{{ variant.price | money }}"
                    compare="{{ variant.compare_at_price | money }}">
                    {{ variant.title }}
                  </option>
                {% endfor %}
              </select>
            {% endunless %}

            <li>
              <span>quantity</span>
              <div class="s-product__variations-row">
                <div class="s-quantity">
                  <button type="button" class="s-quantity__btn btn-minus s-button s-button--round s-button--transparent s-arrow-link">
                    <span class="s-arrow-link__ico">
                      <img src="{{ 'ico-minus.svg' | asset_url }}" alt="-">
                      <img src="{{ 'ico-minus.svg' | asset_url }}" alt="" role="presentation">
                    </span>
                  </button>
                  <input type="number" id="quantity" name="quantity" value="1" step="1" min="1" max="" readonly>
                  <button type="button" class="s-quantity__btn btn-plus s-button s-button--round s-button--transparent s-arrow-link">
                    <span class="s-arrow-link__ico">
                      <img src="{{ 'ico-plus.svg' | asset_url }}" alt="+">
                      <img src="{{ 'ico-plus.svg' | asset_url }}" alt="" role="presentation">
                    </span>
                  </button>
                </div>
              </div>
            </li>
          </ul>
          <div class="s-product__submit">
            <button type="submit" name="add"
              class="s-button s-button s-button--big s-button--black {%if product.has_only_default_variant %} simple-product {% endif %}"
              {% if product.available %} id="buy-now" {% else %} disabled="disabled" {% endif %}>
              <span>
                {% if product.available %}Add to Cart{% else %}Sold Out{% endif %}
              </span>
            </button>
            <a href="/cart" name="view" id="view-cart" class="s-button s-button s-button--big s-button--black"
              style="display: none;">
              <span>View Cart</span>
            </a>
          </div>

          {% if product.metafields.custom.select_addon_products != blank %}
          <div class="s-product__also">
            <div class="s-product__also-title title-h4 title-animation" data-scroll data-scroll-call="title-visible">
              <h2>Add to your order</h2>
            </div>

            {% assign counter = 0 %}
            {% for dproduct in product.metafields.custom.select_addon_products.value %}
                {% if dproduct.has_only_default_variant %}
                  {% assign mod = counter | modulo: 2 %}
                  {% if mod == 0 %}
                    <div class="s-product__also-container">
                  {% endif %}
                    <article class="s-product__also-item">
                      <div class="s-product__also-img">
                        <a href="{{ dproduct.url }}">
                          <img src="{{ dproduct.featured_image | img_url:'' }}" alt="{{ dproduct.featured_image.alt | escape }}">
                        </a>
                      </div>
                      <div class="s-product__also-content">
                        <div class="s-product__also-name title-h5 title-animation" data-scroll data-scroll-call="title-visible">
                          <h3>{{ dproduct.title }}</h3>
                        </div>
                        <div class="s-product__also-row">
                          <div class="s-price s-price--smallest">
                            <div class="s-price__new">
                              <span>{{ dproduct.price | money }}</span>
                            </div>
                          </div>
                          <div class="s-product__also-btn">
                            <span data-id="{{ dproduct.selected_or_first_available_variant.id }}">Add +</span>
                          </div>
                        </div>
                      </div>
                    </article>
                  {% if mod == 1 or forloop.last %}
                    </div>
                    <br>
                    <br>
                  {% endif %}
                  {% assign counter = counter | plus: 1 %}
                {% endif %}
            {% endfor %}

            {% comment %} <div class="s-product__also-container"> {% endcomment %}
              {% for dproduct in product.metafields.custom.select_addon_products.value %}
                {% comment %} TODO - Change this to false to support variant products {% endcomment %}
                {% if dproduct.has_only_default_variant == 'DISABLED' %}
                <article class="s-product__also-item">
                  <div class="s-product__also-img">
                    <img src="{{ dproduct.featured_image | img_url:'' }}" alt="{{ dproduct.featured_image.alt | escape }}">
                  </div>
                  <div class="s-product__also-content">
                    <div class="s-product__also-name title-h5 title-animation" data-scroll data-scroll-call="title-visible">
                      <h3>{{ dproduct.title }}</h3>
                    </div>
                    <div class="s-product__also-row">
                      <div class="s-price s-price--smallest">
                        <div class="s-price__new">
                          <span>{{ dproduct.price | money }}</span>
                        </div>
                      </div>
                      <div class="s-input s-input--select">
                        {% if dproduct.variants.size > 1 %}
                        <input type="text" placeholder="Choose option" class="selected-display" readonly>
                        <input type="hidden" class="selected-var" readonly>
                        <ul>
                          <li data-value="" class="custom_related_sel_default"></li>
                          {% for variant in dproduct.variants %}
                          {% assign get_id = variant.id %}
                            <li data-value="{{ variant.id }}" class="custom_related_sel">{{ variant.title }}</li>
                          {% endfor %}
                        </ul>
                        <div class="remove-custom_related_sel">Remove</div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </article>
                {% endif %}
              {% endfor %}
            {% comment %} </div> {% endcomment %}

          </div>
          {% endif %}

        </form>

        <div class="s-product__wrapper mobile-show">
          <ul class="s-product__info">
            <li>
              <div class="s-product__info-ico">
                <img src="{{ 'ico-product-info.svg' | asset_url }}" alt="" width="32" height="32">
              </div>
              <span>Discreet packaging</span>
            </li>
            <li>
              <div class="s-product__info-ico">
                <img src="{{ 'ico-product-info.svg' | asset_url }}" alt="" width="32" height="32">
              </div>
              <span>Multi-patterns + intensities</span>
            </li>
            <li>
              <div class="s-product__info-ico">
                <img src="{{ 'ico-product-info.svg' | asset_url }}" alt="" width="32" height="32">
              </div>
              <span>Rechargeble battery</span>
            </li>
          </ul>

          <div class="s-product__banner">
            <div class="s-product__banner-bg">
              <img src="{{ 's-banner.jpg' | asset_url }}" alt="" width="778" height="340">
            </div>
            <div class="s-product__banner-inner">
              <div class="s-product__banner-title title-h2 title-animation" data-scroll data-scroll-call="title-visible">
                <h2>I embrace my sexuality and sensuality</h2>
              </div>
              <div class="s-product__banner-text section-text text-animation" data-scroll data-scroll-call="text-visible">
                <p>Need to lift your sexual vibration? Maintain or boost your own powerful and confident sexual energy by repeating this mantra daily</p>
              </div>
            </div>
          </div>

          <div class="s-accordion-list">

          	{% if product.metafields.custom.product_description.value %}
            <div class="s-accordion">
              <div class="s-accordion__head">
                <h3>Product Description</h3>
                <div class="s-accordion__ico">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                    <g transform="translate(-1569 -769)">
                      <line x2="10" transform="translate(1569 774)" fill="none" stroke="#1f454d" stroke-width="1"/>
                      <line class="ico-plus" x2="10" transform="translate(1574 769) rotate(90)" fill="none" stroke="#1f454d" stroke-width="1"/>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="s-accordion__body">
                <div class="s-accordion__inner section-text">

                	{{ product.metafields.custom.product_description | metafield_tag }}

                </div>
              </div>
            </div>
            {% endif %}

            {% if product.metafields.custom.product_specifications.value %}
            <div class="s-accordion">
              <div class="s-accordion__head">
                <h3>Product Specifications</h3>
                <div class="s-accordion__ico">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                    <g transform="translate(-1569 -769)">
                      <line x2="10" transform="translate(1569 774)" fill="none" stroke="#1f454d" stroke-width="1"/>
                      <line class="ico-plus" x2="10" transform="translate(1574 769) rotate(90)" fill="none" stroke="#1f454d" stroke-width="1"/>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="s-accordion__body">
                <div class="s-accordion__inner section-text">
                  {{ product.metafields.custom.specifications | metafield_tag }}
                </div>
              </div>
            </div>
						{% endif %}

						{% if product.metafields.custom.how_to_use_this_product.value %}
            <div class="s-accordion">
              <div class="s-accordion__head">
                <h3>How to use this product</h3>
                <div class="s-accordion__ico">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                    <g transform="translate(-1569 -769)">
                      <line x2="10" transform="translate(1569 774)" fill="none" stroke="#1f454d" stroke-width="1"/>
                      <line class="ico-plus" x2="10" transform="translate(1574 769) rotate(90)" fill="none" stroke="#1f454d" stroke-width="1"/>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="s-accordion__body">
                <div class="s-accordion__inner section-text">
                  {{ product.metafields.custom.how_to_use_this_product | metafield_tag }}
                </div>
              </div>
            </div>
            {% endif %}

            {% if product.metafields.custom.shipping_and_delivery.value %}
            <div class="s-accordion">
              <div class="s-accordion__head">
                <h3>Shipping and delivery</h3>
                <div class="s-accordion__ico">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                    <g transform="translate(-1569 -769)">
                      <line x2="10" transform="translate(1569 774)" fill="none" stroke="#1f454d" stroke-width="1"/>
                      <line class="ico-plus" x2="10" transform="translate(1574 769) rotate(90)" fill="none" stroke="#1f454d" stroke-width="1"/>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="s-accordion__body">
                <div class="s-accordion__inner section-text">
                  {{ product.metafields.custom.shipping_and_delivery | metafield_tag }}
                </div>
              </div>
            </div>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="s-featured" data-scroll-section>
  <div class="container">
    <div class="swiper-head">
      <div class="swiper-arrows">
        <button class="swiper-arrows-prev">
          <span class="s-button s-button--round s-arrow-link">
            <span class="s-arrow-link__ico">
              <img src="{{ 'ico-swiper-arrow.svg' | asset_url }}" alt="<">
                <img src="{{ 'ico-swiper-arrow.svg' | asset_url }}" alt="" role="presentation">
            </span>
          </span>
        </button>
        <button class="swiper-arrows-next">
          <span class="s-button s-button--round s-arrow-link">
            <span class="s-arrow-link__ico">
              <img src="{{ 'ico-swiper-arrow.svg' | asset_url }}" alt=">">
              <img src="{{ 'ico-swiper-arrow.svg' | asset_url }}" alt="" role="presentation">
            </span>
          </span>
        </button>
      </div>
      <div class="swiper-head__title title-h2 title-animation" data-scroll data-scroll-call="title-visible">
        <h2>{{ settings.featured_text }}</h2>
      </div>
      <div class="swiper-head__btn">
        <a href="{{ collections.all.url }}" class="s-button s-button--transparent">
          <span>Shop all</span>
        </a>
      </div>
    </div>

    <div class="s-featured__slider swiper" data-pointer-area="DRAG">
      <div class="swiper-wrapper">

      	{% assign firstcollection = product.collections.first.handle %}
      	{% assign current_product = product %}

      	{% for product in collections[firstcollection].products limit:6 %}
      		{% if product.handle != current_product.handle %}
	          {% render 'article-product',
	            product: product
	          %}
          {% endif %}
        {% endfor %}

        
      </div>
    </div>

    <div class="s-featured__btn mobile-show">
      <a href="{{ collections.all.url }}" class="s-button s-button--transparent">
        <span>Shop all</span>
      </a>
    </div>
  </div>
</section>
<script>
    let variantsObj = [];
    let primaryObj = [];
    let primaryVariantID = [];
    let adding = false;
    let selectedValues = {};

    const inputElements = document.querySelectorAll('.variants-primary input[type="radio"]');

    inputElements.forEach(input => {

        // Check if the input element is checked by default
        if (input.checked) {
            const groupName = input.getAttribute('name');
            const groupValue = input.value;

            selectedValues[groupName] = groupValue;
        }
        input.addEventListener('change', () => {
            if (input.checked) { // Get the group name and value of the input element
                const groupName = input.getAttribute('name');
                const groupValue = input.value;
                selectedValues[groupName] = groupValue;

                // Get an array of selected values
                const selectedValuesArray = Object.values(selectedValues);
                primaryObj = [];
                primaryObj = [...selectedValuesArray];
                console.log(primaryObj);
                getVariant();
            }
        });
    });

    primaryObj = Object.values(selectedValues);

    function getCartTotal() {
        const xhttp = new XMLHttpRequest();

        // Define a callback function
        xhttp.onload = function () {
            document.getElementById('cart-total').innerHTML = JSON.parse(xhttp.responseText)['cart-total'];
        }

        // Send a request
        xhttp.open('GET', '/?sections=cart-total', true);
        xhttp.send();
    }

    function addToCart() {
        let formData = {
            'items': []
        };
        adding = true;
        document.getElementById('buy-now').innerHTML = '<span>Adding...</span>';
        let qauntity = document.getElementById('quantity').value;
        formData.items.push({ 'id': primaryVariantID, 'quantity': qauntity });
        variantsObj.forEach(function (value) {
            formData.items.push({ 'id': value, 'quantity': qauntity });
        });
        fetch(window.Shopify.routes.root + 'cart/add.js', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            document.getElementById('buy-now').style.display = "none";
            document.getElementById('view-cart').style.display = "inline-flex";
            getCartTotal();
            adding = false;
        }).catch((error) => {
            console.error('Error:', error);
            document.getElementById('buy-now').innerHTML = '<span>ERROR</span>';
            adding = false;
        });
    }

    document.getElementById('buy-now').addEventListener('click', function (event) {
        event.preventDefault();
        if (event.currentTarget.classList.contains('view-cart')) {
            window.location.href = '/cart';
        } else {
            if (event.currentTarget.classList.contains('simple-product')) {
                primaryVariantID = document.querySelector('input[name="id[]"]').value;
            }
            if (!adding) {
                addToCart();
            }
        }
    });

    function getVariant() {
        var handle = "{{ product.handle }}";
        console.log(handle, "handle")

        fetch(window.Shopify.routes.root + 'products/' + handle + '.js')
            .then(response => response.json())
            .then(product => {
                if (product.variants) {
                    product.variants.forEach(element => {
                        if (JSON.stringify(element.options) == JSON.stringify(primaryObj)) {
                            primaryVariantID = element.id;
                            document.querySelector('.s-price__new').childNodes[0].textContent = "$" + element.price / 100;
                        }
                    });
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }
    const primaryOptions = document.querySelectorAll('.s-shop-category__sort-dropdown ul');

    if (primaryOptions != null && primaryOptions != "") {
        primaryOptions.forEach((element, counter) => {
            let i = 0;
            for (let child of element.children) {
                if (child.classList.contains('primary_sel')) {
                    child.addEventListener('click', function (event) {
                        let productId = event.target.getAttribute("data-value");
                        let previousVal = "";
                        let siblingTarget = "";
                        for (let sibling of event.target.parentNode.parentNode.children) {
                            if (sibling.classList.contains('selected-var')) {
                                siblingTarget = sibling;
                            }
                            if (sibling.classList.contains('remove-custom_related_sel')) {
                                sibling.classList.add('active');
                            }
                        }
                        previousVal = siblingTarget.value;
                        event.target.parentNode.parentNode.classList.add('added');

                        // Remove old variant ID
                        var index = primaryObj.indexOf(previousVal);
                        if (index !== -1) {
                            primaryObj.splice(index, 1);
                        }
                        siblingTarget.value = productId;

                        // primaryObj.push(productId);
                        primaryObj.splice(counter, 0, productId);
                    });

                    if (i == 0) {
                        let productId = child.getAttribute("data-value");
                        let previousVal = "";
                        let siblingTarget = "";
                        for (let sibling of child.parentNode.parentNode.children) {
                            if (sibling.classList.contains('selected-var')) {
                                siblingTarget = sibling;
                            }
                            if (sibling.classList.contains('remove-custom_related_sel')) {
                                sibling.classList.add('active');
                            }
                        }
                        previousVal = siblingTarget.value;
                        child.parentNode.parentNode.classList.add('added');

                        // Remove old variant ID
                        var index = primaryObj.indexOf(previousVal);
                        if (index !== -1) {
                            primaryObj.splice(index, 1);
                        }
                        siblingTarget.value = productId;

                        // primaryObj.push(productId);
                        primaryObj.splice(counter, 0, productId);
                    }
                }
                i++;
            }
        });
        getVariant();
    }

    const simpleAddons = document.querySelectorAll('.s-product__also-btn span');
    if (simpleAddons != null && simpleAddons != "") {
        simpleAddons.forEach(element => {
            element.addEventListener('click', function (event) {
                const productId = event.target.getAttribute("data-id");
                if(event.target.classList.contains('added')) {
                    event.target.classList.remove('added');
                    event.target.textContent = "ADD +";
                    var index = variantsObj.indexOf(productId);
                    if (index !== -1) {
                        variantsObj.splice(index, 1);
                    }
                } else {
                    variantsObj.push(productId);
                    event.target.textContent = "Remove -";
                    event.target.classList.add('added');
                }
                console.log(variantsObj);
            });
        });
    }
</script>